/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

img{
  max-width:20%;
  height:auto;
}

/* Credentials Container  - display flex keeps on same line and bottom left origin keeps set at start of the body. */
.c-container{
  display:flex;
  width:100%;
  max-height:100vh;
  transform: translateY(-50%) rotate(31.33deg);
  transform-origin: bottom left;
}

/* Navbar */
.navbar{
  background:white;
  height:2rem;
}
.elments{
  display:flex;
}