:root{
  --background:#2b2d42;
  --white:#edf2f4;
  --linkColor:red;


}

/* https://coolors.co/d8dbe2-a9bcd0-2b2d42-f25757-f2e863 */
/* https://coolors.co/palette/f1dac4-a69cac-474973-161b33-0d0c1d */
/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  color:var(--white);
}

*, *:before, *:after {
  margin:0;
  color:var(--white);
  font-family: sans-serif;

}

/* adjust typography defaults */
body {
  background:var(--background);
  font-family: sans-serif;
  line-height: 1.5;
  overflow-y: scroll; overflow-x: hidden;

}

.cert{
  max-width:20%;
  height:auto;
}

/* Credentials Container  - display flex keeps on same line and bottom left origin keeps set at start of the body. */
.c-container{
  display:flex;
  width:100%;
  transform: translateY(-40%) rotate(31.33deg);
  transform-origin: bottom left;
  will-change:transform;
  position:fixed;
}
.borgum{
  height:400vw; 
 position:relative;
}
/* Home Page */
button{
  background:#161B33;
  padding:0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  border: 1px solid #161B33;
  box-shadow: #161B33 0 1px 3px 0;
 box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:2rem;
  margin-left:1rem;

}
.container{
  display:flex;
}
button:hover{
  background:#474973;
  border-color: #474973;

  box-shadow: #474973 0 1px 3px 0;
}

.icon{
  height:1.5rem;
  width:auto;
  stroke: white;
  fill:white;
  margin-left:0.5rem;
}
.icon * {
  fill:white;
}


#Discord_Slider:hover #Discord, #Instagram_Icon:hover #Instagram, #Facebook_Icon:hover #Facebook {
  transform: translate(-1px, -3px);
opacity: 0.8;
}
.followContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  padding:4rem 0rem;
}
.socialsContainer{
    display:flex;
    justify-content: center;
  width:100%;
}
.social{
  width: 6rem;
  height:auto;
  overflow:visible;
}

#Discord, #Instagram, #Facebook{
  transition: 0.3s ease;
}

/* Coffee */
.coffeeContainer{
  display:flex;
  align-items: center;
  width:100%;
  justify-content: center;
  padding:10rem 0rem;
}
.coffeeContainer div {
  width:30%;
  text-align: center;
  margin:2rem;
}
.coffee{
  width:10%;
  height:auto;
}

/* Card Section */
.cardContainer{
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
.cardContainer h3{
  color:#A69CAC;
}
.intro {
  max-width: 50rem;
  padding:2rem 0rem;
  margin-left: auto;
  margin-right: auto;
}
.intro h3{
  color:#A69CAC;
}
.CTF {
  max-width: 50rem;
  padding:2rem 0rem;
  margin-left: auto;
  margin-right: auto;
  display:flex;
}
.CTF svg{
  max-width: 50%;
  height:auto;
}
.CTF .collapseContainer .collapseHeader{
  display:flex;
}
.CTF .icon {
  height:0.25rem;
  width:0.25rem;
  margin-top: auto;
  margin-bottom: auto;
  width:auto;
}
.collapseIcons{
  width:1rem;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-content: center;
}

.collapseContent .collapseContent{
  margin-left:1rem;
}


.cardContainer h1 {
  z-index: 2;
}

.cards{
  width:100%;
  display:flex;
  justify-content: center;
  padding:2rem;
}
.cards div{
  max-width:25%;
  height:15rem;
}
.card{
  height:15rem;
  width: auto;
}
.cards div svg {
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cards div:nth-of-type(4) svg {
  transform: rotate(15deg) translateY(10%) scale(0.95);
}

.cards div:nth-of-type(3) svg {
  transform: rotate(5deg) scale(0.95);
}

.cards div:nth-of-type(2) svg {
  transform: rotate(-5deg) scale(0.95);
}

.cards div:nth-of-type(1) svg {
  transform: rotate(-15deg) translateY(10%) scale(0.95);
}

/* Hover event for all the cards */
.cards div:hover svg {
  transform: translateY(-20%) !important;
  scale:100%;
}

.writeupContainer{
  padding:2rem 20rem;
}
.language-python *, .language-json *{
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
}
.language-python, .language-json {
  width:100%;
  display:block;
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
}
.post {
  position: relative;
  display: block;
  overflow: hidden;
  padding:1rem;
  border-bottom: #07BEB8 solid;
}
.callout{
  width:auto !important;
}

.writeup img{
  max-width: 80%;
  max-height:10rem;
  margin:2rem auto;
  display:block;
}
.writeup  h1{
  margin-top:2rem;
  color:#F1DAC4;
  margin-bottom: 2rem;
}
.writeup .title {
  color:var(--white);
  font-weight: bold;
  margin-bottom: 0;
}
.writeup h3{
  margin-top:0rem;
  color:#A69CAC;
  margin-bottom: 1rem;
}
.writeup .date, .writeup .author {
  display:flex;
  margin-left: 0;
}
.writeup .date svg, .writeup .author svg {
  height:1rem;
  width:auto;
  margin: auto 0.5rem auto 0;
}
.writeup .stats {
  display:flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-weight: 600;
}
.writeup  h2{
  margin-top:1rem;
  margin-bottom: 1rem;
}
.post::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0); 
  transition: background 0.3s ease;
}

.post:hover::after {
  background: rgba(0,0,0,0.1);
}

.post h1 {
  font-weight: bold;
  font-family: var(--normal);
}

.description { 
  margin-top:1rem;
  font-size: 1.3rem;
}

.date{
  margin-left: auto;
  font-weight: 600;
}
.tags{
  display: flex;
}

.tags .tag {
  border-radius: 1rem;
  background-color: beige;
  margin-right: 1rem;
  padding:0.25rem 1rem;
font-weight: 700;

}

.searchBar{
  width:100%;
  height:2rem;
  padding:1rem;
  border-radius: 2rem;
}

.tags .crypto{
  background-color: rgb(255, 166, 0);
}

.tags .picoCTF2025 {
  background-color: #cb0f2f;
}

.tags .mitm {
  background-color: rgb(0, 88, 126);
}
